## Shortie.me URL Shortener (.htaccess)
## (c) Kyle Simpson
## MIT License

Options +ExecCGI
AddHandler cgi-script routing
XSendFile on
XSendFileAllowAbove on

RewriteEngine on
RewriteRule .* middle/uri.routing [L]