{$+ "views/tmpl.master.html" $}

{$/	Shortie.me URL Shortener (tmpl.index.html)
	(c) Kyle Simpson
	MIT License
/$}


{$: "#content" | shortened=data.shortened_url_slug?"#shortened" | recent=data.result_set?"#recent" }
	<div id="indicator"></div>

	<h1>Shortie.me URL shortener</h1>
	<form name="enter_url" id="enter_url" action="/shortenurl" method="post">
		<input id="orig_url" name="orig_url" max_length="1000" value="{$= data.orig_url $}" />
		<input id="do_shorten" type="submit" value="shorten" />
	</form>
	
	<div id="results">
		{$= @shortened $}
	</div>
	
	<div id="recent">
		{$= @recent $}
	</div>
{$}


{$: "#shortened" }
	<p>
		Here's your new shortened URL:
	</p>
	
	<h2 title="{$= data.orig_url $}">
		http://shortie.me/!{$= data.shortened_url_slug $}
	</h2>
{$}


{$: "#recent" }
	<hr />
	<h2>Recent URLs shortened</h2>
	<ul>
		{$* data.result_set | data=item.value }
			{$= @"#recent_result" $}
		{$}
	</ul>
{$}


{$: "#recent_result" }
	<li>
		<img class="linkicon" src="http://www.google.com/s2/favicons?domain={$= data.orig_url_domain $}" alt="Site Icon" />
		<a href="http://shortie.me/!{$= data.shortened_url_slug $}">{$= data.orig_url $}</a>
	</li>
{$}