{$+ "views/tmpl.master.html" $}

{$: "#pagetitle" } :: About{$}

{$: "#content" | shortened=data.shortened_url_slug?"#shortened" | recent=data.result_set?"#recent" }
	<h1>About Shortie.me URL shortener</h1>
	
	<p>
		This URL shortener is a proof-of-concept demo for <a href="http://middleend.com">Middle-End UI Architecture</a> 
		concepts and the <a href="http://cvcpattern.com">CVC (Clients-Views-Controllers) pattern</a>. It is, of course,
		an alpha stage work in progress, and <strong>thus should not be relied on for production URL shortening</strong>.
	</p>
	<p>
		Shortie.me uses server-side JavaScript (run through the <a href="http://bikechainjs.com">BikechainJS</a> engine)
		to power a DRY (reusable) set of UI Controllers that can perform middle-end tasks on the client and/or
		the server using the exact same code. One important UI Controller in use (both browser and server) is the
		<a href="http://handlebarjs.com">HandlebarJS</a> templating engine.
	</p>
	<p>
		If you're interested in more information on the "middle-end", check out the
		<a href="http://www.slideshare.net/shadedecho/rise-of-the-middle-end">"Rise of the Middle End" slide-deck</a> and the 
		<a href="http://blog.getify.com/2010/08/jsconf-2010-getify-on-middle-endui-architecture/">"Dude, Where's My UI 
		Architecture?" video</a> from <a href="http://jsconf.us/2010">JSConf '10 JavaScript conference</a>.
	</p>
{$}
